body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;
  }
  
  button {
    padding: 5px;
    cursor: pointer;
    padding: 8px 20px;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }